.top-posts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 25px;
    background-color: #fff;
    align-items: center;
    border: 1px solid #e0dfdf;
  }
  
  .top-posts h2 {
    width: 100%;
    padding: 19px 0;
    margin: 0;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    color: rgb(51, 49, 50);
    font-weight: bold;
    line-height: 0.8;
    text-align: center;
    border-bottom: 1px solid #e0dfdf;
  }
    
  
  .top-posts .top {
    display: flex;
    flex-direction: column;
    padding-bottom: 28px; 
  }
  
  .top-posts .top1 {
    padding-top: 28px;
  }
  
  .top .image-wrapper {
    height: 325px;
    width: 325px;
    overflow: hidden;
  }
  
  .top .additional-info {
    display: flex;
    justify-content: flex-start;
    padding: 12px 0 10px 0;
  }
  
  .top .additional-info .tag {
    font-weight: bold;
    color: #ed145b;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
  }
  
  .top .additional-info .data{
    font-weight: 400;
    color: #252525;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
  }
  
  .top h3 {
    font-weight: bold;
    color: #252525;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin: 0;
    cursor: pointer;
  }