.tags {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    background-color: #fff;
    align-items: center;
    border: 1px solid #e0dfdf;
  }
  
  .tags h2 {
    width: 100%;
    padding: 19px 0;
    margin: 0;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    color: rgb(51, 49, 50);
    font-weight: bold;
    line-height: 0.8;
    text-align: center;
    border-bottom: 1px solid #e0dfdf;
  }
  
  .tags-list {
    display: flex;
    flex-wrap: wrap;
    padding: 25px 12px;
    min-height: 215px;
    align-content: flex-start;
  }
  
  .tags-list span {
    display: block;
    padding: 6px 0;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #252525;
    text-align: center;
    border: 1px solid #e0dfdf;
    min-width: 75px;
    height: 26px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 6px;
    align-self: center;
  }
  
  .tags-list span:hover {
    cursor: pointer;
    background-color: #ea4c89;
    color: #fff;
    font-weight: bold;
  }