.menu-block {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 290px;
    width: 90%;
  }
  
  .menu-nav a {
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    margin-right: 30px;
    transition: 1s;
  }
  
  .menu-nav a:first-child {
    margin-left: 25px;
  }
  
  .menu-nav {
    transition: 0.2s;
    transform: scaleX(0) translateX(0%);
    transform-origin: left center;
    opacity: 0;
    visibility: hidden;
    height: 75px;
    line-height: 75px;
    background-color: #fff;
    padding-right: 37.5px;
    padding-left: 37.5px;
    margin-left: -37.5px;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
  }
  .menu-nav_active {
    transform: scaleX(1) translateX(0%);
    opacity: 1;
    visibility: visible;
  }
  
  /*
  ============================
          Menu Button
  ============================
  */
  
  .menu-btn {
    display: block;
    width: 75px;
    height: 75px;
    background-color: #ea4c89;
    border-radius: 50%;
    position: relative;
    z-index: 2;
  }
  .menu-btn span,
  .menu-btn span::before,
  .menu-btn span::after {
    position: absolute;
    top: 50%; margin-top: -1.5px;
    left: 50%; margin-left: -15px;
    width: 30px;
    height: 3px;
    background-color: #fff;
  }
  .menu-btn span::before,
  .menu-btn span::after {
    content: '';
    display: block;
    transition: 0.2s;
  }
  .menu-btn span::before {
    transform: translateY(-7.5px);
  }
  .menu-btn span::after {
    transform: translateY(7.5px);
  }
  
  .menu-btn_active span:before {
    transform: rotate(35deg);
    width: 15px;
    transform-origin: right bottom;
    margin-left: 0px;
  }
  .menu-btn_active span:after {
    transform: rotate(-35deg);
    width: 15px;
    transform-origin: right top;
    margin-left: 0px;
  }