.search{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 25px;
  }
  .search input {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #333132;
    width: 100%;
    height: 50px;
    padding: 0 22px;
    border: 1px solid #d7d7d7;
  }
  
  .search button {
    background: #ea4c89 url(./magnifier.png) no-repeat center;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: 1px solid #d7d7d7;
    border-left: none;
  }