.recent-posts {
    display: flex;
    flex-direction: column;
    width: 750px;
  }
  
  .recent-posts h2 {
    width: 100%;
    padding: 19px 0;
    margin: 0;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    color: rgb(51, 49, 50);
    font-weight: bold;
    line-height: 0.8;
    text-align: center;
    background-color: #fff;
    align-items: center;
    border: 1px solid #e0dfdf;
    border-bottom: none;
  }
  .post {
    padding: 24px;
    background-color: #fff;
    border: 1px solid #e0dfdf;
  }
  
  .post .image-wrapper{
    height: 510px;
    width: 690px;
    overflow: hidden;
  }
  .post .additional-info{
    display: flex;
    justify-content: flex-start;
    margin-top: 18px;
    margin-bottom: 28px;
  }
  .additional-info .tag{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-right: 22px;
    color: #333132;
  }
  
  .additional-info .data{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #333132;
  }
  .text h3{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #333132;
  }
  .text p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #333132;
  }
  .post .article-footer {
    display: flex;
    justify-content: space-between;
  }
  
  .read-more-button {
    display: block;
    color: #fff;
    background-color: #ea4c89;
    text-decoration: none;
    padding: 13px 37px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 18px;
    align-self: center;
  }
  .article-footer .share {
    width: 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .share p{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #333132;
  }